@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/iransans/IRANSansWeb.eot?) format("eot"),
  url(fonts/iransans/IRANSansWeb.ttf) format("truetype"),
  url(fonts/iransans/IRANSansWeb.woff2) format("woff2"),
  url(fonts/iransans/IRANSansWeb.woff) format("woff");
}
